        <header>
            <h1><%=kanban_board.title%></h1>
        </header>

        <div class="column_1">
            <div class="grid">
                <div class="box box_1">
                <h2> To Start </h2>
                    <%todo.each do |task|%>
                        <article class="task">
                            <p><%=task.employee.name%></p>
                            <p><%=task.name%></p>
                        </article>
                    <%end%>
                </div>

                <div class="box box_2">
                <h2>Ongoing</h2>
                    <%ongoing.each do |task|%>
                        <article class="task">
                            <p><%=task.employee.name%></p>
                            <p><%=task.name%></p>
                        </article>
                    <%end%>
                </div>
                

                <div class="box box_3">
                <h2>Done</h2>
                    <%done.each do |task|%>
                        <article class="task">
                            <p><%=task.employee.name%></p>
                            <p><%=task.name%></p>
                        </article>
                    <%end%>
                </div>
                
            </div>
        </div>
        <div class="column_2">
            <h3 class="form">Create New Task</h3>
        </div>
        </div>