<header>
    <h1><%=kanban_board.title%></h1>
</header>

    <div class="column_1">
        <div class="grid">
            <div class="box box_1" id="todo">
            <h2> To Start </h2>
                <%todo.each do |task|%>
                    <article class="task" id="<%=task.id%>">
                        <p><b><%=task.name%></b></p>
                        <p><%=task.deadline%></p>
                    </article>
                <%end%>
            </div>

            <div class="box box_2" id="ongoing">
            <h2>Ongoing</h2>
                <%ongoing.each do |task|%>
                    <article class="task" id="<%=task.id%>">
                        <p><b><%=task.name%></b></p>
                        <p><%=task.deadline%></p>
                    </article>
                <%end%>
            </div>

            <div class="box box_3" id="done">
            <h2>Done</h2>
                <%done.each do |task|%>
                    <article class="task" id="<%=task.id%>">
                        <p><b><%=task.name%></b></p>
                        <p><%=task.deadline%></p>
                    </article>
                <%end%>
            </div>

        </div>
    </div>

    <div class="column_2">
        <div class="Insert_Task">
            <form method="POST" action="/kanbanBoard/<%=kanban_board.id%>" class="taskCreate">
            <h3>Create New Task</h3>
                <div class="task_form">
                    <p class="task_text"> Task: </p>
                        <input name="taskName" class="task_input" type="text" placeholder="Insert new task" required>
                            <br>
                    <p class="task_text"> Status:</p>
                        <select class="task_input" id = "kanbanBoard" name='taskStatus'>
                            <option value = "todo">To Do</option>
                            <option value = "ongoing">Ongoing</option>
                            <option value = "done">Done</option>
                        </select>
                            <br>
                    <p class="task_text"> Deadline: </p>
                        <input type="text" id="datepicker" class="task_input" placeholder="Select deadline date"/>
                    <br>
                        <button type="submit" class="button">Add Task</button>
                </div>
            </form>
        </div>
    </div>

    <div class="button_container">
        <h3>Board Homepage</h3>
        <p> Multiple teams? Looking to create a new board or view your old ones? Visit our homepage! </p>
        <a href='/' class="redirect_button"><b>Home</b></a>
    </div>             

    <script>
        const ws = new WebSocket("ws://0.0.0.0:9292/")

        $('.task').draggable({
            revert: function (droppableObj) {
                if (droppableObj === false) {
                    return true;
                }
            }
        })

        $('.box').droppable({
            drop: function (event, ui) {
                const task_id = ui.draggable.context.id
                const board_id = window.location.search.split("=")[1]
                const box_id = event.target.id
                $("#" + task_id).remove()
            }
        })

        ws.onmessage function (msg) {
            // When the server sends a message do something...
        }

        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>


   